/*Selector de todos los elementos del doc. HTML*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div{
	text-align: left;
	font-weight: bold;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	padding: 10px;
}
form{
	margin: 20px auto;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	width: 500px;
	text-align: center;
	border: 3px solid #392a2a91;
	border-radius: 20px;
	background: #97969691;
}
h3{
	font-family:  "Comic Sans MS", cursive, sans-serif;
	padding: 10px;
}
input{
	width: 100%;
	margin: 3px;
	padding: 6px;
	border: 3px solid #392a2a91;
	border-radius: 20px;
}
textarea{
	height: 250px;
	width: 100%;
	resize: none;
	padding: 6px;
	margin: 3px;
	border: 3px solid #392a2a91;
	border-radius: 20px;
}

/*Estilos de validación*/
.border_error{
	border: 3px solid #ff0000;
	background-color: #E6E62B;
}